/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 *= require owl.carousel
 *= require owl.theme
 */
body {
  margin: 0;
  font-family: Helvetica;
  min-height: 100%;
}

.alerts {
  color: #DB1E1E;
  z-index: 1000;
  position: fixed;
  top: 8%;
  left: 40.5%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.notices {
  color: #31CE0F;
  z-index: 1001;
  position: fixed;
  top: 8%;
  left: 40.5%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.5);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}