#navbox {
 height: 50px;
 position: fixed;
 top: 5%;
 left: 3%;
 text-align: center;
 background-color: white;
}

.dropdown-toggle {
  padding: .5em 1em;
  background: #777;
  border-radius: .2em .2em 0 0;xz
}

#dropdown {
  display:none;
  position: fixed;
  top: 14%;
  left: 3%;
  width: 100px;
  padding: 0;
  border-radius: 0 0 .2em .2em;
  color: white;
}

.dropdown-item.nav2 a {
  color: black;
}

.dropdown-item a {
  text-decoration: none;
  color: white;
}

.dropdown-item a:hover {
  text-decoration: none;
  color: #C0C0C0;
}

.dropdown-item:hover {
  text-decoration: none;
  color: #C0C0C0;
}

.dropdown-item {
  cursor: pointer;
}

#new-bike-form-index-nav {
  position: absolute;
  top: 8%;
  left: 20%;
  width: 70%;
  overflow: auto;
  background-color: white;
  height: 80%;
}

#form-push-right-bike-img {
  margin-left: 9%;
}

#form-push-right-for-sale {
  margin-left: 8%;
}

.check-up {
  margin-top: -5%;
}

#register-bike-index {
  display: inline-block;
  margin-left: 15%;
  margin-top: 3%;
}

#bike_componentImgs {
  display: inline-block;
}

#login-form-nav {
  display: none;
  margin-left: 50%;
  margin-top: 7%;
}

#login-form-nav-index {
  display: none;
  margin-left: 45%;
  margin-top: 5%;
}

#new-bike-index-nav {
  color: black;
}

#new-bike-index-nav:hover {
  color: #C0C0C0;
}

#login-nav {
  color: black;
}

#login-nav:hover {
  color: #C0C0C0;
}

@media handheld, screen and (max-width: 640px) { 
  #login-form-nav-index {
    margin-left: 7%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.83);
    color: white;
  }
  #login-form-nav-index input {
    color: black;
  }
  #login-nav {
    color: white !important;
  }
  .dropdown-item.nav2 a {
  color: white;
  }
  #new-bike-index-nav {
  color: white;
  }
}
