.owl-item {
  /*overflow: auto;*/
}

.info-carousel {
  margin-left: 26%;
  margin-top: 2%;
  width: 50%;
}

.info-carousel-img {
  /*height: 100px;*/
  width: 12%;
  margin-bottom: 4%;
  padding-right: 20px;
}

.info-content {
  display: inline-block;
  width: 42%;
  position: absolute;
  top: 10px;
  /*overflow: auto;*/
}

.info-content-broadcast {
  display: inline-block;
  width: 42%;
  position: absolute;
  top: 22%;
}

#log-it {
  top: 25%;
}

#log-img {
  margin-bottom: -2%;
}

#engrave-it {
  top: 25%;
}

#engrave-img {
  margin-bottom: -2%;
}

#report-it {
  top: 21%;
}

#report-it-img {
  margin-bottom: -4%;
}

#look-for-it {
  overflow: auto;
}

.info-title {
  font-weight: bold;
  font-size: 1.1em;
}

.info-vid-carousel {
  display:inline-block;
  width: 40%;
  position:absolute;
}

#shield-lock-img {
  margin-bottom: -10%;
}

#lock-it-vid {
  margin-left: 41%;
  height: 123px;
}

a {
  text-decoration: none;
}

#show-footer {
  display: none;
  position: fixed;
  bottom: 1%;
  left: 1%;
  color: white;
}

.hideShow-button {
  margin-left: 1%;
  text-decoration: underline;
  cursor: pointer;
}