/*styling for landing page*/
.background-container {
   width: 100%;
  height: 100%;
  /*negative top margin to center background. see landing content to adjust child elements*/
  position: fixed;
}

.header-image-container label {
  color:white;
}

.header-image-container {
  width: 100%;
  height: 950px;
  /*negative top margin to center background. see landing content to adjust child elements*/
  margin-top: -20%;
  position: relative;
  background-image: url("bike-gif.gif");
  background-repeat: no-repeat;
  background-size: 120% 100%;
  overflow: auto;
}

.landing-overlay {
  height: 130%;
  width: 100%;
  background-color: rgba(243, 244, 246, 0.35);
  background-attachment: fixed;
  overflow: auto;
}

.landin-content {
  position: fixed;
  top: 20%;
}

.landing-content > div {
  position: fixed;
  top: 18%;
  left: 8%;
  color: white;
}

.landing-content .button {
  display: block;
  color: white;
  width: 80%;
}

.header-image-container .button {
  color: white;
}

.signin-out {
  position: fixed;
  top: 3%;
  right: 5%;
  color: white;
}

.login-form {
  margin-left: 20%;
}

#sign-up-form {
  position: fixed;
  top: 18%;
}

.hidden-form {
  display: none;
  position: absolute;
  top: 40%;
  left: 43%;
  width: 71%;
}

#new-bike-form {
  margin-top: -5%;
}

#user_age {
  width: 60px;
}

.remember-me {
  display: inline !important;
}

.new-bike-form {
  overflow: auto;
}

.register-bike-button-landing {
  margin-left: 18%;
  margin-top: 15px;
  background-color: white !important;
}

.checkbox label {
  display: inline-block;
}

.for-sale-checkbox {
  margin-left: 20px;
}

.stolen-checkbox {
  margin-left: 31px;
}

#new-bike {
  background-color: rgba(225, 225, 225, 0.35);
}

#new-bike:hover {
  color: black;
}

#login {
  background-color: rgba(225, 225, 225, 0.35);
  color: white;
}

#login:hover {
  color: black;
}

.submit-button {
  background-color: white !important;
  margin-top: 10px;
}

#sign-up {
  background-color: rgba(225, 225, 225, 0.35);
}

#check-out-bikes {
  background-color: rgba(225, 225, 225, 0.35);
}

#hide-new-bike {
  color: white;
}

@media handheld, screen and (max-width: 640px) { 
  .hidden-form {
    position: absolute;
    top: 17%;
    left: 13%;
    overflow: auto;
    background-attachment: scroll;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
  }
  .landing-overlay {
    height: 200%;
  }
  .landing-content {
    position: relative;
  }
  #sign-up-form {
    position: relative;
    top: 8.5%;
  }
  .login-form {
    margin-left: 0%;
  }
}

