.profile-img {
  width:100%;
  height:auto;
  /*max-height: 300px;*/
  border-radius: 10px;
}

.profile-img-container {
  max-height: 275px;
  width:30%;
  display: inline-block;
  position: absolute;
  left: 21%;
  top: 15%;
  overflow: hidden;
  border-radius: 10px;
}

.profile-content {
  height: 600px;
  width: 90%;
  position: relative;
  margin-top: 3%;
  margin-left: 4%;
  overflow: auto;
}

.profile-right-content {
  display: inline-block;
  position: absolute;
  top: 11%;
  left: 63%;
}

.username {
  font-weight: bold;
}

#user-edit-form {
  display: none;
  margin-left: -16%;
}

.edit-profile-field {
  width: 100%;
}

.profile-submit {
  margin-left: 4%;
  margin-top: 2%;
}

.profile-edit-hide {
  margin-left: 4%;
}

.edit-profile-button {
  margin-top: 10%;
}

.no-bike-message {
  text-align: center;
  font-size: 2em;
  margin-top: 5%;
}

@media handheld, screen and (max-width: 640px) { 
  .profile-img-container {
    left: 18%;
    top: 16%;
    width: 64%;
  }
  .profile-content {
    overflow: auto;
    margin-bottom: 0%;
  }
  #user-stats {
    margin-top: 10%;
    margin-left: 13%;
  }
  #user-edit-form {
    height: 300px;
    overflow: scroll;
    width: 80%;
  }
  .profile-right-content {
    top: 40%;
    left: 18%;
    width: 100%;
  }
  .user-info {
    margin-bottom: 5px;
  }
  .username {
    margin-bottom: 5px;
  }
  .hide-profile {
    display: none;
  }
  .profile-full {
    margin-top: 0%;
  }
  #new-bike-form-index-nav {
    overflow: auto; 
    width: 76%;   
  }
}

