.profile-img {
  width:100%;
  height:auto;
  /*max-height: 300px;*/
  border-radius: 10px;
}

.profile-img-container {
  max-height: 300px;
  width:30%;
  display: inline-block;
  position: absolute;
  left: 23%;
  top: 11%;
  overflow: hidden;
  border-radius: 10px;
}

.profile-content {
  height: 450px;
  width: 90%;
  position: relative;
  margin-top: 3%;
  margin-left: 4%;
  overflow: auto;
}

.profile-right-content {
  display: inline-block;
  position: absolute;
  top: 15%;
  left: 63%;
}

.username {
  font-weight: bold;
}

#user-edit-form {
  display: none;
  margin-left: -16%;
}

.edit-profile-field {
  width: 100%;
}

.profile-submit {
  margin-left: 4%;
  margin-top: 2%;
}

.profile-edit-hide {
  margin-left: 4%;
}

.edit-profile-button {
  margin-top: 10%;
}

@media handheld, screen and (max-width: 640px) { 
  .profile-img-container {
    left: 5%;
    top: 22%;
    width: 50%;
  }
  .profile-content {
    overflow: scroll;
    height: 300px;
    margin-bottom: 20%;
  }
  #user-edit-form {
    height: 300px;
    overflow: scroll;
  }
}

